@model CollegeManagementSystem.ViewModels.Grade.GradeViewModel

@{
    var action = Model.GradeId != 0 ? "Update" : "Create";
    ViewBag.Title = "Grade";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Grade", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model => model.GradeId)

    <div class="form-horizontal">
        <h4>@action</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.StudentId, Model.StudentList, "Select an option", new { @class = "form-control", disabled = "disabled"})
                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SubjectId, Model.SubjectList, "Select an option", new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.SubjectId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GradeValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GradeValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GradeValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observation, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel","Index","Enrollment", null, new { @class = "btn btn-default btn-danger" })
                <input type="submit" value="Save" class="btn btn-primary btn-success" />
            </div>
        </div>
    </div>
}

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}